@import "../abstracts/variables";
@import "../abstracts/mixins";
.ideas {
  .container__investors {
    h1 {
      color: $blue-dark;
      font-size: 10rem;
    }
    p {
      color: $yellow-light;
      font-size: 3rem;
      //   maybe delete this padding?
      padding-left: 0.1em;
    }
  }
}
